<p id="notice"><%= notice %></p>

<div class="card">
    <div class="card-header">
        <h4><%= @post.title %> </h4> <p>User ID: <%=@post.user.id%></p>
    </div>
    <div class="card-body">
        <img src="<%= URI.parse(@post.photo) %>" alt=" ">
        <br/>
        <%= @post.description %>
    </div>       
</div>
<br/>       
<% if @post.user == current_user %>
  <%= link_to 'Back', root_path, class:"btn btn-primary" %> |
  <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary"  %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<%else%>
  <%= link_to 'Back', root_path, class:"btn btn-primary" %> |
<%end%>